<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | RepaireMagic</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex-wrapper <%= controller.controller_name %>-<%= controller.action_name %>">
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <header>
      <div class="container">
        <% unless controller.controller_name == "passwords" && controller.action_name == "edit" %>
          <%= render "partials/navbar" %>
        <% end %>
        <%= render "partials/flash" %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <%#= render "partials/footer" %>
  </body>
</html>
